.wrapper {
  width: 420px;
  background: transparent;
  color: white;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #7b8d6a;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.name-field {
  display: inline-flex;
  gap: 10px;
  margin-bottom: -30px;
}

.register-btn-container {
  margin-top: 10px;
  position: relative;
}

/*.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--highlight);
}

.modal-title {
  color: var(--highlight);
  font-size: 24px;
  margin-bottom: 15px;
}

.modal-footer .btn-primary {
  background-color: var(--highlight);
  border: none;
  width: 100px;
  margin: 0 auto;
}*/
